@font-face {
  font-family: "Fira Sans with IPA";
  src: url("../xsampa-to-ipa/font/FiraSans-Regular.woff") format("woff");
}

body {
  /* Variables */
  --highlight-1: rgb(20, 177, 138);
  --highlight-2: rgb(157, 207, 196);
  --text-color:  rgb(50, 50, 50);

  margin: 0 !important;
  padding: 0 !important;
  
  font-family: "Fira Sans", sans-serif;
  font-size: 13pt;
  color: var(--text-color);

  background-color: whitesmoke;
}

header {
  padding: 20px;
  padding-left: 32px;
  padding-right: 32px;

  background: var(--highlight-1);
  font-size: 16pt;
}

main {
  padding: 20px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

h1 {
  margin: 0px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: whitesmoke;
}

label {
  font-weight: 500;
  text-decoration: underline
}

textarea {
  /* Sizing/Layout */
  width: 100%;
  height: 50vh;
  min-height: 250px;
  margin-top: 6px;

  /* Interior margins */
  box-sizing: border-box;  /* Prevents textarea from overflowing */
  padding: 10px;
  
  /* Font */
  font-size: 12pt;
  font-weight: 400;
  
  border: none;
  background-color: gainsboro;
  resize: none;
}

#converter-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*margin: 20px*/
}

.converter-column {
  flex: 50%;
  text-align: center;
}

.converter-column > div {
  margin: 10px;
  padding: 10px;
  padding-top: 8px;

  border: solid var(--highlight-1);
  border-radius: 5px;

  background-color: var(--highlight-2);
}

#ipa-output {
  font: 12pt "Fira Sans with IPA", sans-serif;
  font-variant-ligatures: no-common-ligatures;
}

@media screen and (max-width: 992px) {
  textarea {
    height: 35vh;
    min-height: 0;
  }
  
  #converter-area {
    flex-direction: column;
  }
}
